


body{
    display: grid;
    grid-template-columns: 3, 1fr, 3fr, 1fr;
    grid-template-rows: 3, 3fr, 2fr, 1fr;
    grid-gap: 20px;
    
    text-align: center;
    margin: 0;
    /* font-family: 'Srisakdi', cursive; */
    background-color: rgb (46, 43, 43);
}

main{
    display: grid;
    grid-template-columns: 3, 1fr, 3fr, 1fr;
    grid-template-rows: repeat(9, 1fr);
    background-color: rgb(113, 151, 201);
    grid-column: 2/3;
    grid-row: 1/2;
}
article{
    display: grid;
    grid-template-columns: (3, 1fr, 3fr, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color:rgb(113, 201, 113);
    grid-column: 2/3;
    grid-row: 2/9;
}

aside{
    display: grid;
    grid-template-columns: (5, 1fr, 3fr, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 3/4;
}

h1{
    font-weight: bolder;
}

h2{ 
    font-weight: bolder;
}

.welcome{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: khaki; 
}

.studysorry{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: khaki; 
}

.studycongrats{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: khaki; 
}

.marketsorry{
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: khaki; 
}

.marketcongrats{
    grid-column: 2/3;
    grid-row: 9/10;
    background-color: khaki; 
}


.warsorry{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: khaki; 
}

.warcongrats{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: khaki; 
}

.armssorry{
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: khaki; 
}

.armscongrats{
    grid-column: 2/3;
    grid-row: 8/9;
    background-color: khaki; 
}

.court{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: khaki; 
}

.jester{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: khaki; 
}